{% load i18n static %} {# https://github.com/django/django/blob/master/django/contrib/admin/templates/admin/base.html #}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl" {% endif %}>

<head>
  <title>{% block title %}{% endblock %}</title>
  {# <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static " admin/css/base.css" %}{% endblock %}"> #}

  {% block responsive %}   {# vuesax https://scrimba.com/c/crEd8hq #}
  <link href="//cdn.jsdelivr.net/npm/vuesax/dist/vuesax.css" rel="stylesheet">
  <link href="{% static 'djvuesax/admin/css/base.css' %}" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  {% if LANGUAGE_BIDI %} {# TODO left to right language.... #}
    {# <link rel="stylesheet" type="text/css" href="{% static " admin/css/responsive_rtl.css" %}"> #}
  {% endif %}
  {% endblock %}

  {% block extrastyle %}{% endblock %}

  {% if LANGUAGE_BIDI %} {# right to left language #}
  <link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static " admin/css/rtl.css" %}{% endblock %}">
  {% endif %}

  {% block extrahead %}{% endblock %}


  {% block blockbots %}
  <meta name="robots" content="NONE,NOARCHIVE">
  {% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}" data-admin-utc-offset="{% now " Z" %}">

  <!-- Container -->
  <div id="container">

    <!-- Navbar -->
    {% if not is_popup %}
    <vs-navbar class="nabarx">
        <vs-navbar-title>
            {% block branding %}{% endblock %}
        </vs-navbar-title>
  
        <vs-spacer></vs-spacer>
  
        {% block usertools %}
        {% if has_permission %}
          {% block welcome-msg %}
          <vs-navbar-item>
          {% trans 'Welcome,' %}
          <strong>{% firstof user.get_short_name user.get_username %}</strong>.
          </vs-navbar-item>
          {% endblock %}

          {% block userlinks %}

          {% if site_url %}
          <vs-navbar-item>
          <a href="{{ site_url }}">{% trans 'View site' %}</a> 
          </vs-navbar-item>
          {% endif %}

          {% if user.is_active and user.is_staff %}
          <vs-navbar-item>
            {% url 'django-admindocs-docroot' as docsroot %}
              {% if docsroot %}
              <a href="{{ docsroot }}">{% trans 'Documentation' %}</a>
            {% endif %}
          </vs-navbar-item>
          {% endif %}

          {% if user.has_usable_password %}
          <vs-navbar-item>
            <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a>
          </vs-navbar-item>
          {% endif %}

          <vs-navbar-item>
          <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
          </vs-navbar-item>
          {% endblock %}
        {% endif %}
        {% endblock %}

      {% block nav-global %}{% endblock %}
    </vs-navbar>
    <!--/ Navbar -->

    {% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
      {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
    {% endblock %}
    {% endif %}

    {% block messages %}
    {% if messages %}
    <ul class="messagelist">{% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message|capfirst }}</li>
      {% endfor %}</ul>
    {% endif %}
    {% endblock messages %}

    <!-- Content -->
    <div id="content">
      {% block pretitle %}{% endblock %}
      {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}

      {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
      {% endblock %}
      {% block sidebar %}{% endblock %}
    </div>
    <!-- END Content -->

  </div>
  <!-- END Container -->

  {% block footer %}<div id="footer"></div>{% endblock %}
  {% block vuesax %}{# https://scrimba.com/c/crEd8hq #}
  <script src="//unpkg.com/vue/dist/vue.js"></script>
  <script src="//cdn.jsdelivr.net/npm/vuesax/dist/vuesax.umd.js"></script>
  {% block vuesaxapp %}
  <script>
    new Vue({
      el: '#container'
    });
  </script>
  {% endblock %}
  {% endblock %}

</body>

</html>