{% extends "djvuesax/admin/index.html" %}
{% load i18n %}

{% block bodyclass %}{{ block.super }} app-{{ app_label }}{% endblock %}

{% block sidebar %}{% endblock %}

{% block content %}
<div id="content-main" class="container">

  <div class="card-columns">

    {% for app in app_list %}

    <div class="card">
      <div class="card-header">
        <a href="{{ app.app_url }}" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">
          {{ app.name }}</a>
      </div>

      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    {% endfor %}
  </div>
</div>
{% endblock %}

{% block extrahead %}{{ block.super }}
{% endblock %}

{% block footer %}{{ block.super }}
{% endblock %}