*.log
*.pyc
*.retry
.svn
*.sqlite3
__pycache__

# editors
.ropeproject
*~
.*~
*.swp
*.sqllite3

# python
*.egg-info
build
dist

# django projects
media
docs/build
logs
archives
node_modules

# mac
.DS_Store

